@model EventManager1.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div class="container-scroller bgimg">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left p-3">
                        <div class="brand-logo">
                            <!-- <img src="../../images/logo.svg"> -->
                            <h3>
                                <span class="d-inline-block">
                                    <a href="index.html" class="btn btn-inverse-primary btn-rounded btn-icon icon-center">
                                        <i class="mdi mdi-arrow-left-drop-circle-outline "></i>
                                    </a>
                                </span>
                                <span class="d-inline-block">
                                    Stream233
                                </span>
                            </h3>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center">
                                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                                    <h2 class="text-center">Forgot Password?</h2>
                                    <p>You can reset your password here.</p>
                                    <div class="panel-body">
                                        <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-envelope color-blue"></i>
                                                    </span>
                                                    <input id="email" name="email" placeholder="email address" class="form-control"
                                                           type="email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                                       value="Send Verification" type="submit">
                                            </div>
                                            <input type="hidden" class="hide" name="token" id="token" value="">
                                            <a href="login.html">Sign In here</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
@*<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
