@model EventManager1.Models.TicketModelPopup

<style>
    p small {
        color: #7e0000;
        font-weight: bold;
    }
    p a {
        font-size: 10px;
        color: #007bff;
        font-weight: bold;
        cursor:pointer;
        text-decoration:underline;
    }
        p a:hover {
            color: #007bff !important;
            cursor: pointer;
            text-decoration: underline;
        }
    .bord-height {
        height: auto;
        min-height: 80px;
    }
</style>
@{
    if (Model != null && !string.IsNullOrEmpty(Model.Eventname))
    {
        <div class="modal fade" id="bookTickets" tabindex="-1" role="dialog" aria-labelledby="bookTicketsLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title w100" id="exampleModalLabel">
                            @Model.Eventname
                            <span class="float-right"><span id="spnTotalItem">0</span> Items | Net Amount: <span id="spntotakamountheder">00</span> Gh₵</span>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Html.BeginForm("PostTicket", "Home", FormMethod.Post))
                    {
                        <div class="modal-body bgDark noPadding">
                            <ul class="nav nav-tabs navBookingTicket nav-justified" id="myTab" role="tablist">
                                <li class="nav-item">
                                    @*<a class="nav-link active" id="Tickets-tab" data-toggle="tab" href="#Tickets" role="tab"
                                        aria-controls="Tickets" aria-selected="true">Tickets</a>*@
                                    <a class="nav-link active" id="Tickets-tab" href="JavaScript:">Tickets</a>
                                </li>
                                <li class="nav-item">
                                    @*<a class="nav-link" id="Attendee-tab" data-toggle="tab" href="#Attendee" role="tab"
                                        aria-controls="Attendee" aria-selected="false">Attendee</a>*@
                                    <a class="nav-link" id="Attendee-tab" href="JavaScript:">Attendee</a>

                                </li>
                            </ul>

                            <div class="tab-content padding16">
                                <div class="tab-pane active" id="Tickets" role="tabpanel" aria-labelledby="Tickets-tab">
                                    <h4>Go ahead and pick your tickets...</h4>
                                    <div class="text-right">
                                        @*Have a
                                            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                                               aria-controls="collapseExample">
                                                Coupon Code?
                                            </a>*@
                                    </div>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Enter Coupon Code"
                                                       aria-label="Enter Coupon Code" aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">Apply</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p>
                                        <i class="far fa-calendar-alt"></i> @Model.EventDate

                                    </p>
                                    <div class="row bgWhite padding8">
                                        @if (Model.Tickest != null && Model.Tickest.Count() > 0)
                                        {
                                            foreach (var ticket in Model.Tickest)
                                            {
                                                var ticketadded = "spnsingle" + ticket.TicketId;
                                                <div class="col-sm-6 borderROnLight bord-height">
                                                    <h4>
                                                        @ticket.TicketName (<small id="spnavailableqnty">Qty- @ticket.AvailableQnty</small>)<br>
                                                        <small class="text-muted">@ticket.Price Gh₵</small>
                                                    </h4>
                                                </div>
                                                <div class="col-sm-6 text-center">
                                                    @if (ticket != null && ticket.IsPurchased)
                                                    {
                                                    <div class="flex">
                                                    <p> <small>You already have a @ticket.TicketName .</small> <a href="/User/User/Dashboard">Click here to access </a>. </p>     
                                                    </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="flex">
                                                            <span class="largeText borderOnLight pl-2 pr-2 flex2" id="@ticketadded">
                                                                0
                                                            </span>
                                                            <span class="flex2 ml-3">
                                                                <span class="pointer borderOnLight pl-2 pr-2 pt-1 pt-2 mb-1" onclick="AddMinusTicket('add','@ticket.TicketId','@ticket.AvailableQnty','@ticket.Price')">
                                                                    <b>
                                                                        +
                                                                    </b>
                                                                </span>
                                                                <span class="pointer borderOnLight pl-2 pr-2 pt-1 pt-2 mt-1" onclick="AddMinusTicket('sub', '@ticket.TicketId', '@ticket.AvailableQnty','@ticket.Price')">
                                                                    <b>
                                                                        -
                                                                    </b>
                                                                </span>
                                                            </span>
                                                        </div><p>Quantity</p>}


                                                </div>
                                            }

                                        }
                                        <div class="col-sm-6 borderROnLight"></div>
                                        <div class="col-sm-6 text-center">
                                            <div class="flex">
                                                <div class="largeText">
                                                    <strong id="pfootertotal">00.00</strong> Gh₵
                                                </div>
                                                <p>Total</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="Attendee" role="tabpanel" aria-labelledby="Attendee-tab">
                                    <h4>Let's add attendee details...</h4>
                                    <div class="row bgWhite padding16">
                                        <div class="col-md-4">
                                            <input type="hidden" id="EventId" name="EventId" value="@Model.EventId" />
                                            <div class="form-group">
                                                <label for="">Name</label>
                                                <input type="text" name="txtname" required class="form-control" id="txtname" aria-describedby="emailHelp"
                                                       placeholder="" value="@Model.ContactDetail.name">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Email address</label>
                                                <input type="email" class="form-control" required name="txtEmail" id="txtEmail" aria-describedby="emailHelp"
                                                       value="@Model.ContactDetail.Email" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Mobile</label>
                                                <input type="number" class="form-control" required name="txtphone" id="txtphone" aria-describedby="emailHelp"
                                                       value="@Model.ContactDetail.Mobile" placeholder="">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnprevious" style="display:none" onclick="Previous()" class="btn btn-outline-danger float-left ">Previous</button>
                            <button type="button" class="btn btn-secondary" style="background:#000 !important;border:none;color:#fff;" data-dismiss="modal">Close</button>
                            <a href="JavaScript:" id="btnacnhr" onclick="OpentNextTab()" type="button" class="btn btn-success">Next</a>
                            <button type="submit" id="btnsubmit" style="display:none" class="btn btn-success btnacnhr">Next</button>
                        </div>
                    }
                </div>
            </div>
        </div>

    }
}